/*general*/
:root{
    --fondo: #00b28b36;
    --verde: #00b28b;
    --verde-claro: #d7fcda49;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    transition: all 500ms ease;
}

a{
    text-decoration: none;
    color: #000;
}

ul{
    list-style: none;
} 

/*header*/
header{
    width: 100%;
    height: 90%;
    min-height: 100vh;
    background-color: var(--fondo);
    overflow: hidden;
    position: relative;
}
    
    /*nav*/
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1% 8%;
        height: 80px;
    }
        
        nav .logo{
            display: flex;
            align-items: center;
        }
        nav .logo img{
            width: 48px;
            filter: grayscale(70%);    
        }
        nav .titulo{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        nav .logo h2{
            display: inline;
            font-size: 1.4rem;
            font-weight: 300;
        }
        nav .logo .first-letter{
            font-size: 1.6rem;
            font-weight: 600;
        }  
            nav ul li{
                display: inline;
                margin-left: 10px;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 1.3rem;
                font-weight: 300;
            }   
                nav ul li a{
                    transition: all 500ms ease;
                }
                nav ul li a:hover{
                    color: #48af99;
                }

    .mobile-nav{
        display: none;
    }

    /*showcase*/
    header .showcase{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1% 8%;
        height: 80%;
    }

    .showcase .titulo{
        text-align: center;
    }
    .showcase .titulo img{
        
    }

    .showcase .imgen-showcase{
        text-align: center;
    }
    .showcase .imgen-showcase img{
        width: 100%;
        filter: opacity(90%);
    }

    .showcase .datos{
        margin: 0 auto;
        max-width: 500px;
    }
        .showcase .datos h1{
            margin: 5% 0;
        }
        .showcase .datos p{
            /* max-width: 750px; */
            margin: 0 auto;
            text-align: center; 
            font-size: 1.2rem;
            font-weight: 400;
            letter-spacing: 1px;
        }


/*section*/
section h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    margin: 5% 0;
}
section p{
    max-width: 750px;
    margin: 0 auto;
    text-align: center; 
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 1px;   
}

/*articulo 1*/
.articulo1{
    padding: 5% 8%;
    position: relative;
    height: 70vh;
    background: transparent;
    
}
   .articulo1 img{
       position: absolute;
       width: 200px;
       top: 20%;
       left: 70%;
       z-index: -1;
       filter: opacity(30%);
   } 
   .articulo1 p{
       text-align: justify;
   }


/*articulo2*/
.articulo2{
    padding: 1% 15%;
    background-color: #00b28b0a;
}
    .articulo2 p{
        margin-bottom: 100px;
        text-align: justify;
    }
    .articulo2 .prep{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        position: relative;
    }
    
    .articulo2 .prep h3{
        font-size: 2.3rem;
        margin: 1% 0;
    }
    .articulo2 .prep p{
        text-align: left;
    }
    .articulo2 .prep .img{
        text-align: center;
    }
    .articulo2 .prep img{
        width: 100%;
        /* max-width: 400px; */
        min-width: 250px;
        filter: grayscale(40%);
    }

    .articulo2 .invertir{
        flex-direction: row-reverse;
    }
    .articulo2 .invertir img{
        min-width: 200px;
    }

/*contacto*/
section .contacto{
    position: relative;
    width: 100%;
    height: 90vh;
    padding: 1% 8%;
}

    .contacto h1{
        text-align: center;
        font-size: 3rem;
        font-weight: 400;
        margin: 2% 0 2% 0;
    }

    .contacto form{
        max-width: 500px;
        margin: 0 auto;
        z-index: 300;
    }

    form input, textarea{
        width: 100%;
        margin-bottom: 10px;
        font-size: 1.1rem;
        padding: 8px 12px;
        border-radius: 5px;
        border: 2px solid var(--verde);
        background: rgba(255, 255, 255, 0.671);
        font-family: 'Montserrat', sans-serif;
    }

        form input::placeholder{
            font-weight: 300;
            color: rgb(131, 131, 131);
        }

        form label{
            font-size: 1.5rem;
            line-height: 1.2;
        }
        
        form [type="submit"]{
            width: 8rem;
            cursor: pointer;
            text-transform: uppercase;
        }

        .contacto img{
            width: 60rem;
            position: absolute;
            bottom: 0;
            left: 40%;
            transform: translateX(-30%) rotate(-0.2deg);
            filter: opacity(50%) grayscale(60%);
            z-index: -1;
        }

/*footer*/
footer{
    width: 100%;
    height: 12vh;
    background-color: var(--fondo);
    margin-top: -21px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.contenido .volver{
    cursor: pointer;
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color:  var(--fondo);
    border-radius: 6px;
    font-size: 2rem;
    color: #fff;
    z-index: 200;
    transition: all 500ms ease;
}
.contenido .volver:hover{
    background-color: var(--verde);
}

.link-codigo .git{
    display: flex;
    align-items: center;
    justify-content: right;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
  }
  .link-codigo a img{
    margin-left: 10px;
    width: 40px;
    border-radius: 50%;
  }

/*950px*/
@media screen and (max-width: 950px) {
    /*showcase*/
    header{
        height: 100vh;
    }

    header .showcase{
        display: block;
        position: relative;
        padding: 1% 14%;
    }

    .showcase .titulo{
        text-align: center;
        z-index: 100;
        padding-top: 20%;
    }
    .showcase .titulo img{
        
    }

    .showcase .imgen-showcase{
        position: absolute;
        width: 80%;
        top: 15%;
        left: 30%;
        z-index: -1;
        filter: opacity(30%);
    }
    .showcase .imgen-showcase img{
        width: 100%;
    }

    nav ul{
        display: none;
    }
    nav .logo h2{
        font-size: 1.3rem;
    }

    .mobile-nav{
        display: block;
        position: absolute;
        top: 20%;
        left: 2%;
        z-index: 100;
    }
        .mobile-nav a{
            writing-mode: vertical-lr;
            margin-bottom: 30px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 1.3rem;
            font-weight: 300;
        }


    /*articulo 2*/    
    .articulo2{
        padding: 1% 8%;
        background-color: #00b28b0a;
    }

    /*constacto*/
    .contacto img{
        width: 80%;
        bottom: 0;
        left: 40%;
        transform: translateX(-30%);
    }
}

/*800*/
@media screen and (max-width:800px){
    :root{
        font-size: 14px;
    }
    .articulo1{
        height: 100%;
    }
}
/*700*/
@media screen and (max-width:700px){
    :root{
        font-size: 14px;
    }

    .showcase .titulo img{
        width: 75%;   
    }

    .articulo2 .prep .img{
        position: absolute;
        width: 2%;
        top: 0;
        left: 50%;
        z-index: -1;
        filter: opacity(50%);
    }
        .articulo2 .prep img{
            min-width: 100px;
        }


    .contacto img{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 40%;
        transform: translateX(-30%);
        filter: opacity(50%) grayscale(60%);
        z-index: -1;
    }

    section h2{
        font-size: 2.5rem;
    }
}

/*500*/
@media screen and (max-width: 500px){
    :root{
        font-size: 12px;
    }

    header{
        height: 92vh;
    }

    nav .logo img{
        width: 30px;
    }

    .articulo1{
        margin-bottom: 50px;
        overflow: hidden;
    }

    .articulo2 p{
        margin-bottom: 50px;
    }

    section .contacto{
        height: 70vh;
        overflow: hidden;
    }
    form input, textarea{
        padding: 6px 10px;
    }

    .contenido .volver{
        bottom: 30px;
        right: 30px;
        width: 30px;
        height: 30px;
    }
    footer{
        padding: 0 20px;
        margin-top: -11px;
        justify-content: space-between;
    }

    .articulo2 .invertir{
        margin-bottom: 20px;
    }
}

@media (max-width: 800px) and (orientation: landscape) {
    header{
        height: 150vh;
    }
    .mobile-nav{
        top: 15%;
        left: 2%;
    }
    .mobile-nav a{
        margin-bottom: 20px;
        font-size: 1.2rem;
    }
    section .contacto{
        height: 130vh;
        margin-bottom: 20px;
    }
}